In [7]:
price = input("가격을 입력하세요 :")
num = input('갯수를 입력하세요. :')
sum = int(price) * int(num)
print("총액은", sum ,"입니다.")

가격을 입력하세요 :100
갯수를 입력하세요. :5
총액은 500 입니다.

In [5]:
price = int(input("가격을 입력하세요.:"))
num = int(input("갯수를 입력하세요.:"))
sum = price * num
print("총액은", sum ,"입니다.")

가격을 입력하세요.:100
갯수를 입력하세요.:5
총액은 500 입니다.

In [6]:
a = 0x1a
print(a)

26

In [13]:
totalsec = 365 * 24 * \
60 * 60
print(totalsec)

31536000

In [9]:
s = ("Korea"
    "japan"
    "2020")
print(s)

Koreajapan2020

In [14]:
a=1234
type(a)

int

In [15]:
a='string'
type(a)

str

In [16]:
s1 = "대한민국"
s2 = "만세"
print(s1 + s2)

대한민국만세

In [17]:
print("싫어" * 5)

싫어싫어싫어싫어싫어

In [19]:
print(int(2.54))
print(round(2.54))
print(round(2.51, 1))
print(round(123456789, -3))

2
3
2.5
123457000

In [21]:
def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    return sum

print(intsum(1,2,3))
print(intsum(5,7,9,11,13))
print(intsum(8,9,6,2,9,7,5,8))

6
45
54

In [27]:
def calcstep(begin, end, step=1):
    sum = 0
    for num in range(begin, end +1, step):
        sum += num
    return sum
print ("1~10 = ", calcstep(1,10,1))
print ("1~100 = ", calcstep(1,100))

1~10 =  55
1~100 =  5050

In [28]:
s = "Good morning. my love KIM."
print(s.lower())
print(s.upper())
print(s)

print(s.swapcase())
print(s.capitalize())
print(s.title())

good morning. my love kim.
GOOD MORNING. MY LOVE KIM.
Good morning. my love KIM.
gOOD MORNING. MY LOVE kim.
Good morning. my love kim.
Good Morning. My Love Kim.

In [29]:
month = 8
day = 15
anni = "광복절"
print("%d월 %d일은 %s이다."%(month, day,anni))

8월 15일은 광복절이다.

In [30]:
price = [30,13500,2000]
for p in price:
    print("가격:%d원" %p)
for p in price:
    print("가격:%7d원" %p)

가격:30원
가격:13500원
가격:2000원
가격:     30원
가격:  13500원
가격:   2000원

In [31]:
pie = 3.14159265
print("%10f" %pie)
print("%10.8f" %pie)
print("%10.5f" %pie)
print("%10.2f" %pie)

  3.141593
3.14159265
   3.14159
      3.14

In [32]:
score = [88,95,70,100,99]
sum = 0
for s in score:
    sum += s
print("총점 : ",sum)
print("평균 : ",sum/len(score))

총점 :  452
평균 :  90.4

In [33]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])
print(nums[:4])
print(nums[6:])
print(nums[1:7:2])

[2, 3, 4]
[0, 1, 2, 3]
[6, 7, 8, 9]
[1, 3, 5]

In [34]:
score = [88,95,70,100,99]
print(score[2])
score[2] = 55
print(score[2])

70
55

In [35]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums[2:5] = [20,30,40]
print(nums)
nums[6:8] = [90,91,92,93,94]
print(nums)

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

In [36]:
lol = [[1,2,3], [4,5], [6,7,8,9]]
print(lol[0])
print(lol[2][1])

for sub in lol:
    for item in sub:
        print(item, end='')
    print()

[1, 2, 3]
7
123
45
6789

In [37]:
nums = [1,2,3,4]
nums.append(5)
nums.insert(2,99)
print(nums)

[1, 2, 99, 3, 4, 5]

In [38]:
nums = [1,2,3,4]
nums[2:2] = [90,91,92]
print(nums)

nums = [1,2,3,4]
nums[2]=[90,91,92]
print(nums)

[1, 2, 90, 91, 92, 3, 4]
[1, 2, [90, 91, 92], 4]

In [39]:
score = [88,95,70,100,99,80,78,50]
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:4] = []
print(score)

[88, 95, 70, 99, 80, 78, 50]
[88, 95, 99, 80, 78, 50]
[88, 78, 50]

In [40]:
tu = 1,2,3,4,5
print(tu[3])
print(tu[1:4])
print(tu + (6,7))
print(tu * 2)
tu[1] = 100
del tu[1]

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [41]:
tu = "이순신", "김유신", "강감찬"
lee,kim,kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [42]:
import time

def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min

result = gettime()
print("지금은 %d시 %d분입니다." %(result[0], result[1]))

지금은 16시 25분입니다.

In [44]:
dic = { 'boy':'소년', 'school':'학교', 'book':'책'}
print(dic)
print(dic['boy'])
print(dic['book'])

{'boy': '소년', 'school': '학교', 'book': '책'}
소년
책

In [45]:
dic = { 'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.get('student'))
print(dic.get('student', '사전에 없는 단어입니다.'))

None
사전에 없는 단어입니다.

In [46]:
dic = { 'boy':'소년', 'school':'학교', 'book':'책'}
dic['boy'] = '남자애'
dic['girl'] = '소녀'
del dic['book']
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀'}

In [57]:
song = """by the rivers of babylon, there we sat down
yeah we wept, when we remember zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a strange land"""

alphabet = dict()
for c in song:
    if c.isalpha()==False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1

for code in range(ord('a'), ord('z') + 1):
    c = chr(code)
    num = alphabet.get(c, 0)
    print(c, "=>", num)

a => 12
b => 4
c => 3
d => 6
e => 22
f => 2
g => 4
h => 9
i => 10
j => 0
k => 1
l => 5
m => 3
n => 13
o => 10
p => 2
q => 1
r => 12
s => 10
t => 9
u => 3
v => 2
w => 12
x => 0
y => 5
z => 1